body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    font-family: "Montserrat", sans-serif;
    color: #0736FE;
    background-color: #f6eee1;
    background-color: #fff;
}
h1{
    font-weight: bolder;
    font-size: 36px;
}
p{
  font-size: 24px;  
}
section {
    padding: 40px;
    text-align: center;
}
section img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
section p{
    display: inline-block;
}
b{
    color: #000;
    background-color: #F7DE3A ;
    padding: 10px;
    border-radius: 16px;
}
#link{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding:0;
}
#link a{
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: #0736FE;
    padding: 20px;
    border: 2px solid #0736FE;
    transition: 0.5s ease;
}
#link a:hover{
    background-color: #F7DE3A;
    border-radius: 16px;
    border-color: #000;
}
@media only screen and (max-width: 600px) {
    #link{
        width: 100%;
    }
  }
@media only screen and (max-width: 380px){
    h1{
        font-size: 24px;
    }
    p,a{
        font-size: 18px;
    }
}